  .a-shadow-sm{
    box-shadow: 6px 6px 0px 0px rgb(0, 0, 0)
  }
  .a-shadow-slider:hover{
    
    box-shadow: 6px 6px 0px 0px rgb(0, 0, 0)
  }
  .yellow-shadow-sm {
    
    box-shadow: 6px 6px 0px 0px rgb(208, 244, 2)
  }
  .t-shadow:hover {
    box-shadow: 4px 4px 0px 0px rgb(0, 0, 0);
    cursor: pointer;
  }
  
  .custom-range {
    -webkit-appearance: none; /*Remove default styling */
    appearance: none;
    width: 100%;
    height: 10px;
    border-radius: 20px;
    overflow: hidden;
    background: #e8e6e6; 
    outline: none; 
    transition: opacity 0.2s;
  }
  
  .custom-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    box-shadow: -410px 0 0 400px #1136FF;
  }
  .triangle {
    width: 0;
    height: 0;
    border-left: 20px solid transparent; 
    border-top: 20px solid white; 
    border-right: 20px solid white;
    border-bottom: 20px solid transparent; 
  }
  
  .rotate-infinite {
    animation: rotateAnimation 5s linear infinite; /* Rotate animation */
  }
  
  @keyframes rotateAnimation {
    from {
      transform: rotate(0deg); /* Start rotation from 0 degrees */
    }
    to {
      transform: rotate(360deg); /* End rotation at 360 degrees (full circle) */
    }
  }
  
  .sliding {
    position: relative; /* Position relative for animation */
    animation: slideRight 4s linear infinite; /* Animation definition */
  }
  
  @keyframes slideRight {
    0% {
      right: 0; /* Start position */
    }
    50% {
      right: 5%;
    }
    100% {
      right: 0; /* End position (move left by 100% of container width) */
    }
  }
  
  .teamCard:hover .overlay{
    opacity: 1;
  }
  
  .iconStyle {
    font-size: 20px;
  }
  .iconStyle:hover,.tname:hover {
    color: white;
  }

  .tmname:hover {
    color: #1136FF;
  }
  
  
  