.hero{
  background-image: url('./headerBg.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.connect{
  background: linear-gradient(20deg, #f1fff1 30%,#fff 70%, #fef1f1 100%) !important;
}
.hero img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
} 

.autoplay-progress {
  position: absolute;
  right: 16px;
  bottom: 16px;
  z-index: 10;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: var(--swiper-theme-color);
}

.autoplay-progress svg {
  --progress: 0;
  position: absolute;
  left: 0;
  top: 0px;
  z-index: 10;
  width: 100%;
  height: 100%;
  stroke-width: 4px;
  stroke: var(--swiper-theme-color);
  fill: none;
  stroke-dashoffset: calc(125.6px * (1 - var(--progress)));
  stroke-dasharray: 125.6;
  transform: rotate(-90deg);
}
.spinner:hover .spinImage svg{
  animation: spin 2s linear infinite;
}
.connect .spinner:first-child:hover .spinner:first-child{
  background-color: #e7fbe7;
}


.service_bg{
  background: linear-gradient(120deg,#f0f2fd 30%,#e5f1fc 50%, #f5f6fe 100%) !important;
}

.swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  color: #000;
  opacity: 1;
  background: rgba(0, 0, 0, 0.2);
}
.sleft_part{
  background-image: url('./processBg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.swiper-pagination-bullet-active {
  color: #fff;
  background: #007aff;
}
.strategy .left_part{
  background: rgb(212,245,212);
  background: linear-gradient(355deg, rgba(212,245,212,1) 20%, rgba(244,244,244,1) 100%);
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.inner_img{
  background-color: #fff;
}
.wk_process{
  clip-path: polygon(36% 0, 63% 0, 85% 3%, 100% 0, 100% 100%, 0 99%, 0 0, 16% 3%);
  background-color: #007aff;
}

.cta.btn-3 {
  padding: 12px 38px 12px 40px;
  box-shadow: unset;
  background: #F43FE2;
}
.cta {
  padding: 12px 28px 12px 30px;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  color: white;
  background: #8B54FF;
  transition: 1s;
  box-shadow: 5px 5px 0 black;
}
a{
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  text-decoration: none;
  color: unset;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
  display: inline-block;
}
.partBg{
  width: 100%;
  height: 100%;
  background-image: url('./partnersBg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}