.hero{
  background-image: url('./headerBg.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.hconnect{
  background: linear-gradient(20deg, #f1fff1 30%,#fff 70%, #fef1f1 100%) !important;
}
.hero img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
} 

.autoplay-progress {
  position: absolute;
  right: 16px;
  bottom: 16px;
  z-index: 10;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.autoplay-progress svg {
  --progress: 0;
  position: absolute;
  left: 0;
  top: 0px;
  z-index: 10;
  width: 100%;
  height: 100%;
  stroke-width: 4px;
  stroke: var(--swiper-theme-color);
  fill: none;
  stroke-dashoffset: calc(125.6px * (1 - var(--progress)));
  stroke-dasharray: 125.6;
  transform: rotate(-90deg);
}
.hspinner:hover .hspinImage svg{
  animation: spin 2s linear infinite;
}
.hconnect .hspinner:first-child:hover .hspinner:first-child{
  background-color: #e7fbe7;
}


.hservice_bg{
  background: linear-gradient(120deg,#f0f2fd 30%,#e5f1fc 50%, #f5f6fe 100%) !important;
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  text-align: center;
  opacity: 1;
  background: rgba(1, 34, 250, 0.929);
}
.hstrategyleft_part{
  background-image: url('./processBg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.swiper-pagination-bullet-active {
  color: #fff;
  background: #007aff;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.inner_img{
  background-color: #fff;
}
.wk_process{
  clip-path: polygon(36% 0, 63% 0, 85% 3%, 100% 0, 100% 100%, 0 99%, 0 0, 16% 3%);
  background-color: #007aff;
}

.cta .btn-3 {
  padding: 12px 38px 12px 40px;
  box-shadow: unset;
  background: #F43FE2;
}
.cta {
  padding: 12px 28px 12px 30px;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  color: white;
  background: #8B54FF;
  transition: 1s;
  box-shadow: 5px 5px 0 black;
}
.hpartBg{
  width: 100%;
  height: 100%;
  background-image: url('./partnersBg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}