.responsive-map {
    height: 80vh;
    position: relative;
    overflow: hidden;
    padding: auto;

}

.responsive-map iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}