body {
  font-family: "Outfit", sans-serif;
}
header .navbar{
  background-image: url('./headerBg.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.footerBg{
  background: linear-gradient(90deg, #f8e8b9 20%,#fff 40%, #c4f6c1 100%) !important;
}